.list{
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.list h2{
    margin: 0;
    font-weight: normal;
    font-size: 1.2rem;
    display: inline-block;
}

.list button{
    float: right;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.list button:hover{
    background-color: darkred;
}