:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
    min-height: 100vh;
}

h1{
    color: #333;
    margin-bottom: 1rem;
}